{% extends "layout/page.twig" %}

{% block title %}[[Ticket Booking Application]]{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="bg-light p-5 rounded">
            <div class="col-sm-8 py-5 mx-auto">
                <h1 class="display-5 fw-normal">[[Ticket Booking Application]]</h1>
                <p>[[Welcome to the Ticket Booking demo application. This application demonstrates the process of booking and purchasing tickets. Built with Spiral Framework, RoadRunner PHP Application server, Temporal.]]</p>
                <p>
                    <a class="btn btn-primary" href="{{ route('screenings') }}" role="button">[[Buy ticket]] &raquo;</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
