{% extends "layout/page.twig" %}

{% block title %}[[Tickets]]{% endblock %}

{% block footer_scripts %}
    {{ parent() }}
    <script defer src="/js/app.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-12">
            <div class="bg-light rounded">
                <div class="col-sm-8 py-5 pb-3 mx-auto">
                    <h3>[[Tickets]]</h3>
                    <table class="table table-striped"
                           x-data="{}"
                           x-init="$store.reservationTickets.load()"
                    >
                        <thead>
                        <tr>
                            <th scope="col">[[Movie]]</th>
                            <th scope="col">[[Date]]</th>
                            <th scope="col">[[Places]]</th>
                            <th scope="col">[[Reserved At]]</th>
                            <th scope="col">[[Status]]</th>
                            <th scope="col">[[Action]]</th>
                        </tr>
                        </thead>
                        <tbody x-html="$store.reservationTickets.data"></tbody>
                    </table>
                </div>
                <div class="col-sm-8 pb-5 mx-auto">
                    <a href="{{ route('screenings') }}" class="btn btn-primary">[[Reserve tickets]]</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.store('buying', {
                async buy(id) {
                    await fetch('/personal/tickets/buy', {
                        method: 'POST',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            reservation_id: id
                        })
                    });
                }
            });

            Alpine.store('reservationTickets', {
                data: '',

                async load() {
                    await fetch('/personal/tickets-grid', {
                        method: 'GET',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                            'Content-Type': 'application/json'
                        }
                    })
                        .then(response => response.text())
                        .then(data => {
                            this.data = data
                        });
                }
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            window.ws.listen('user.{{ auth.actor.id }}', 'TicketBought', (e) => {
                Alpine.store('reservationTickets').load();
            });
        });
    </script>
{% endblock %}
