{% extends "layout/base.twig" %}

{% block title %}[[Active screenings]]{% endblock %}

{% set reservedIds = reserved | map(res => res.seat.id) %}

{% block body %}
    <div class="container">
        <div class="col-md-12">
            <div class="bg-light rounded">
                <div class="col-sm-8 py-5 mx-auto">
                    <h3>[[Available seats]]</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">[[Row]]</th>
                            <th scope="col" colspan="{{ seats | first | length }}" class="text-center">[[Place]]</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row, rowSeats in seats %}
                            <tr>
                                {% for seat in rowSeats %}
                                    {% if seat.id in reservedIds %}
                                        <td style="width: 34px;">
                                            <i class="bi-x-lg" style="font-size: 1rem; color: #ff0000;"></i>
                                        </td>
                                    {% else %}
                                        <td>
                                            <a href="{{ route('reserve', {'id': seat.id}) }}">
                                                {{ seat.number }}
                                            </a>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
